<header>
  <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <span class="navbar-logo"></span>{% include logo.svg %}<span
        class="text-uppercase font-weight-bold">{{ site.title }}</span>
    </a>
    <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
      <ul class="navbar-nav mt-2 mt-lg-0">
        {% if site.repo %}
        <!--
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{{ site.repo }}" target="_blank"><span>GitLab</span></a>
      </li>
      -->
        {% endif %}
        {% for link in site.data.navigation %}
        <li class="nav-item mr-4 mb-2 mb-lg-0">
          <a class="nav-link"
            href="{% if link.url %}{{ site.baseurl }}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}"><span>{{ link.title }}</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="navbar-nav d-none d-lg-block">
      <input type="search" class="form-control td-search-input" placeholder="&#xf002 Recherche…" aria-label="Recherche…"
        autocomplete="off">
    </div>

    <!-- Repository nav link -->
    <div class="navbar-nav d-none d-lg-block">
      <a class="gh-source" data-gh-source="github" href="{{ site.repo }}" title="Go to repository" data-md-state="done">
        <div class="gh-source__repository">
          <i class="fab fa fa-gitlab fa-2x" style='padding-right:20px; float:left; margin-top:5px'></i>
          <!--{{ site.gitlab_user }}/{{ site.gitlab_repo }}-->
          <!--
          <ul class="gh-source__facts">
            <li class="gh-source__fact" id='stars'></li>
            <li id="forks" class="gh-source__fact"></li>
          </ul>
          -->
        </div>
      </a>
    </div>

    <!-- Multi-languages sites nav link -->
    {% for lang in site.lang %}
    <div class="navbar-nav d-none d-lg-block">
      <a class="gh-source" data-gh-source="github" href="{{ lang.url }}" title="{{ lang.title }}" data-md-state="done">
        <div class="gh-source__repository">
          <img src="{{ site.baseurl }}/assets/flags/{{ lang.icon }}" height="20px">
        </div>
      </a>
    </div>
    {% endfor %}

  </nav>
</header>

<!--
<script>
$(document).ready(function() {
  var url = "https://api.github.com/search/repositories?q={{ site.gitlab_user }}/{{ site.gitlab_repo }}";
  fetch(url, {
      headers: {"Accept":"application/vnd.github.preview"}
  }).then(function(e) {
    return e.json()
  }).then(function(r) {
     console.log(r.items[0])
     stars = r.items[0]['stargazers_count']
     forks = r.items[0]['forks_count']
     $('#stars').text(stars + " Stars")
     $('#forks').text(forks + " Forks")
  });
});
</script>
-->